$font-clr:#666;					//	默认字体颜色	
$default-clr:#FFF;				//	默认样式颜色
$primary-clr:#00bcfb;			//	primary样式颜色		
$success-clr:#6dd894;			//	Success样式颜色	
$danger-clr:#600;				//	Danger样式颜色	
$warning-clr:#ff9900;			//	Warning样式颜色
$border-clr:#DDD;				//  边框颜色
$main-header-height:2.5rem;    	//	顶部高度
$main-footer-height:1rem;		//	底部高度
$container-width:9rem;			//	容器宽度