.index-article-list{
	.article-item{
		border-bottom:1px solid $border-clr;
		padding:.5rem .2rem;
		font-size: .2rem;
		.summary{
			margin: .1rem 0;
			font-size: .16rem;
		}
		.btn-more,.create-time{
			font-size:.14rem;
			margin-left: .1rem;
		}
	}
}